.footer-main{
    background-color: #000;
    /* height: 100vh; */
}
.comment-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.comment-ctn h3{
    font-family: "Helvetica";
    font-size: 32px;
    font-weight: 700;
    color: white;
}
.comment-ctn h3 span{
    font-family: "Helvetica";
    font-size: 32px;
    font-weight: 700;
    color: #FF9F0D;
}
.comment-ctn p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.comment Input{
    background-color: #FF9F0D;
    
    border-top-right-radius: 0px; 
      border-bottom-right-radius: 0px;
    border: 1px solid #FF9F0D;
}
.comment Input::placeholder{
    color: #fff;
}
.comment Button{
    background-color: white;
    border-top-left-radius: 0px; 
      border-bottom-left-radius: 0px;
    border: 1px solid white;
    color: #FF9F0D;
}
.time{
    display: flex;
    color: #fff;
    gap: 10px;
}
.links{
    background-color: #FF9F0D;
    padding: 0 10%;
}
