*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: rgba(0, 0, 0, 1);
    z-index: 10;
}
.logo{
    text-align: center;
}
.navbar{
max-width: 1280px;
margin: auto;
padding: 0 10px;
}
.navbar-main{
display: flex;
align-items: center;
justify-content: space-around;
height: 4rem;
font-weight: 700;
font-size: 16px;
}
.nav-items{
margin-left: 4px;
display: flex;
align-items: center;
gap: 15px;
color: white;
/* font-family: "Helvetica"; */
font-family: "Inter";
gap: 25px;
}
.nav-items .items:hover{
color: #FF9F0D;
}
.btn{
display: flex;
align-items: center;
}
.btn button{
display: inline-flex;
align-items: center;
justify-content: center;
color: white;

}
.btn button:hover{
outline: 1px solid white;
}
.btn button svg{
height: 25px;
}
.hide-div{
padding: 8px;
color: white;
display: flex;
flex-direction: column;
gap: 8px;
justify-content: center;
align-items: center;
}
.hidden1{
display: none;
}
@media (min-width: 768px) {
.hidden1{
    display: block;
}
.btn{
    display: none;
}
.mobile{
    display: none;
}

}
.nav-icons{
display: flex;
gap: 10px;
}
.brown{
color: #FF9F0D;
}
.logo h1{
font-weight: 700;
font-size: 24px;
font-family: "Helvetica";
padding-top: 10px;
}
.nav-icons{
gap: 15px;
}
.search{
    background-color: transparent;
    border: 2px solid #FF9F0D;
    border-radius: 30px;
    color: #FF9F0D;
    
}
.nav-icons img{
    position: relative;
    right: 50px;
    width: 20px;
    height: 19px;
    top: 10px;
}
.nav-icons input{
    border: 1px solid #FF9F0D;
    border-radius: 30px;
    background-color: transparent;
    width: 220px;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.nav-icons input::placeholder{
    font-family: "inter";
    color: #FFFFFF;
}
.buy{
    margin-left: 10px;
    cursor: pointer;
}
