
.button1 button{
    border: 1px solid #4F4F4F;
    padding: 10px 117px;
    font-size: 16px;
    font-weight: 400;
    color: #4F4F4F ;
}
.button1 button:hover{
    background-color: #FF9F0D;
    border: 1px solid #FF9F0D;
    color: aliceblue;
}

.button222 button:hover{
    background: transparent;
    color: #FF9F0D;
}
.button222 button{
    border: 1px solid #FF9F0D;
    padding: 10px 88px;
    font-size: 16px;
    font-weight: 400;
    color: white ;
    background-color: #FF9F0D;
    outline: none;
    margin-left: 305px;
}

.billing h4{
font-size: 20px;
font-weight: 700;
margin: 10px 0px;
}
.billing span{
    font-size: 16px;
    font-weight: 400;
    color: #4F4F4F;
    }
/* .pages-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .page02{
        border: 1px solid gray;
        width: 10vw;
        height: 40vh;
    } */