.topbar-main{
    background-image: url('/topbar.png');
    height: 40vh;
    background-position: bottom;
    background-repeat: no-repeat;
}
.top{
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    color: white;
    padding-top: 5%;
    text-align: center;
}
.top-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-menu p{
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: 400;
    padding: 0 5px;
}
.orange{
    color: #FF9F0D;
}