*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: rgba(0, 0, 0, 1);
    z-index: 10;
}
.logo{
    text-align: center;
}
.navbar{
max-width: 1280px;
margin: auto;
padding: 0 10px;
}
.navbar-main{
display: flex;
align-items: center;
justify-content: space-around;
height: 4rem;
font-weight: 700;
font-size: 16px;
}
.nav-items{
margin-left: 4px;
display: flex;
align-items: center;
gap: 15px;
color: white;
/* font-family: "Helvetica"; */
font-family: "Inter";
gap: 25px;
}
.nav-items .items:hover{
color: #FF9F0D;
}
.btn{
display: flex;
align-items: center;
}
.btn button{
display: inline-flex;
align-items: center;
justify-content: center;
color: white;

}
.btn button:hover{
outline: 1px solid white;
}
.btn button svg{
height: 25px;
}
.hide-div{
padding: 8px;
color: white;
display: flex;
flex-direction: column;
gap: 8px;
justify-content: center;
align-items: center;
}
.hidden1{
display: none;
}
@media (min-width: 768px) {
.hidden1{
    display: block;
}
.btn{
    display: none;
}
.mobile{
    display: none;
}

}
.nav-icons{
display: flex;
gap: 10px;
}
.brown{
color: #FF9F0D;
}
.logo h1{
font-weight: 700;
font-size: 24px;
font-family: "Helvetica";
padding-top: 10px;
}
.nav-icons{
gap: 15px;
}
.search{
    background-color: transparent;
    border: 2px solid #FF9F0D;
    border-radius: 30px;
    color: #FF9F0D;
    
}
.nav-icons img{
    position: relative;
    right: 50px;
    width: 20px;
    height: 19px;
    top: 10px;
}
.nav-icons input{
    border: 1px solid #FF9F0D;
    border-radius: 30px;
    background-color: transparent;
    width: 220px;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.nav-icons input::placeholder{
    font-family: "inter";
    color: #FFFFFF;
}
.buy{
    margin-left: 10px;
    cursor: pointer;
}
/* ---------------------------------------------------------------------------------------- */
/* hero css */
.background-img {
    background-image: url('/hero-back.png');
    background-size: cover;
    background-position: center;
    height: 105vh;
    position: relative; 
    background-color: rgba(0, 0, 0, 1);
    z-index: 0;
    /* background-color: black; */
}
.bg-color{
    background-color: rgba(0, 0, 0, .9);
    height: 105vh;
}
.hero-main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin: auto;
    flex-wrap: wrap;
}
.hero-ctn span{
    font-size: 16px;
    font-weight: 400;
    font-family: "inter";
}
.hero-img img{
    width: 40vw;
    height: auto;
}
.hero-ctn h1{
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: white;
    width: 40vw;
}
.hero-ctn h1 span{
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #FF9F0D;
    width: 40vw;
}

.para{
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    width: 27vw;
    line-height: 35px;
}
.button2{
    font-size: 17px;
    font-family: "inter";
    font-weight: 700;
    padding: 14px 49px;
    color: white;
    border: 1px solid #FF9F0D;
    background-color: #FF9F0D;
    margin: 10px 0px;
    border-radius: 30px;
}
.button2:hover{
    font-size: 17px;
    font-family: "inter";
    font-weight: 700;
    background-color: transparent;
    color: #FF9F0D;
}
/* ---------------------------------------------------------------------------------- */
.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.main-ctn h1{
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    color: white;
    width: 40vw;
    line-height: 50px;
    margin-top: 10px;
}

.main-ctn h1 span{
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    color: #FF9F0D;
}
.para01{
    font-size: 16px;
    font-weight: 400;
    font-family: "inter";
    color: #FFFFFF;
    width: 32vw;
    margin-top: 10px;
}
.p1{
    font-size: 18px;
    font-weight: 400;
    font-family: "inter";
    color: #FFFFFF;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.p1 img{
    margin-top: 5px;
    width: 15px;
    height: 15px;
}

.p2 img{
    margin-top: 5px;
    width: 15px;
    height: 15px;
}

.p3 img{
    margin-top: 5px;
    width: 15px;
    height: 15px;
}
.p2{
    font-size: 18px;
    font-weight: 400;
    font-family: "inter";
    color: #FFFFFF;
    display: flex;
    gap: 10px;
}
.p3{
    font-size: 18px;
    font-weight: 400;
    font-family: "inter";
    color: #FFFFFF;
    display: flex;
    gap: 10px;
}
.main-first{
width: 41vw;
}
.main-2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.main-2 img{
    width: 20vw;
}
.main-ctn button{
    font-size: 17px;
    font-family: "inter";
    font-weight: 700;
    padding: 14px 49px;
    color: white;
    border: 1px solid #FF9F0D;
    background-color: #FF9F0D;
    margin: 10px 0px;
    border-radius: 30px;    
}

.main-ctn button:hover{
    font-size: 17px;
    font-family: "inter";
    font-weight: 700;
    background-color: transparent;
    color: #FF9F0D;
}
/* ------------------------------------------------------------------------------------- */
.food-section{
    background-color: black;
    height: 80vh;
}
.food img{
    margin: auto;

}

.food h1{
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.food h1 span{
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    color: #FF9F0D;
}
.food-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    cursor: pointer;
}
.food-img1 img:hover{
transform: scale(1.2);
}
.food-img1{
    width: 20vw;
    position: relative;
    overflow: hidden;
}
.food-img1 img{
    width: 20vw;
    object-fit: cover;
    transition: .9s ease all;
}
.text-over{
    position: absolute; 
  top: 68%;
  left: 29%; 
  transform: translate(-50%, -50%); 
  color: white; 
  background: #FF9F0D;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  font-family: "inter";
  text-align: center;
  display: none;
  border-radius: 8px;
}
.with-text .text-over{
    display: block; 
}
.text-over1{
    position: absolute; 
  top: 48%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #FF9F0D; 
  background: white;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  font-family: "inter";
  text-align: center;
  display: none;
  border-radius: 8px;
}
.with-text .text-over1{
    display: block; 
}
/* --------------------------------------------------------------------------- */
.choose-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.choose-img1{
    display: flex;
    gap: 10px;
}

.choose-img2{
    display: flex;
    gap: 10px;
}
.roll{
    width: 21vw;
    margin-bottom: 10px;
}
.beef-burger{
    width: 15vw;
    height: 30vh;
    position: relative;
    top: 99px;
}
.nuggets{
    width: 180px;
   height: 35vh;
}
.chicken-burgr{
    width: 12vw;
    height: 25vh;
}
.fries{
    width: 10vw;
    height: 20vh;
}
.saled{
    width: 10vw;
    height: 20vh;
    margin-top: 10px;
}
.choose-ctn h1{
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    color: white;
    width: 35vw;
}

.choose-ctn h1 span{
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    color: #FF9F0D;
}
.choose-ctn p{
    font-weight: 400;
    font-family: "inter";
    font-size: 16px;
    color: #FFFFFF;
    width: 34vw;
}
.food-items{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.fast{
    border: 1px solid #FF9F0D;
    background-color: #FF9F0D;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.lunch{
    border: 1px solid #FF9F0D;
    background-color: #FF9F0D;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.dinner{
    border: 1px solid #FF9F0D;
    background-color: #FF9F0D;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.exp{
border: 1px solid white;
background-color: white;
width: 275px;
padding: 2px 10px;
margin-top: 10px;

}
.exp p{
    color: black;
    font-size: 24px;
    font-weight: 400;
    font-family: "inter";
    margin-left: 55px;
}
.exp p b{
    color: black;
    font-size: 24px;
    font-weight: 700;
    font-family: "Helvetica";
}
.exp p span{
    color: #FF9F0D;
    font-size: 24px;
    font-weight: 700;
    font-family: "Helvetica";
}
/* ---------------------------------------------------------------------------------- */
.stack-main{
    margin: 0;
  font-family: "Helvetica";
  background-color: #000;
  color: #fff;
  height: 80vh;
}
  .stats-section {
    position: relative; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('/stack.png'); 
    background-size: cover;
    background-position: center;
    height: 60vh; 
    z-index: 0; 
    overflow: hidden;
  }
  
  .stats-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: -1; 
  }
  
  .stat-item {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    z-index: 1; 
  }
  .stat-item h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .stat-item p {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
  }
  

  @media (max-width: 768px) {
    .stats-section {
      flex-direction: column;
      text-align: center;
    }
    .stat-item {
      margin-bottom: 20px;
    }
  }
/* --------------------------------------------------------------------------------- */
.pick-main{
    background-color: #000;
    height: 100vh;
}
.pick img{
    margin: auto;
}
.pick h1{
    text-align: center;
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    color: white;
}
.pick h1 span{
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    color: #FF9F0D;
}
.pick-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pick-icons p{
    font-family: "inter";
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 15px;
}
.pick-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.pick-icons p:hover{
    color: #FF9F0D;
}
.pick-img{
    display: flex;
}

.pick-ctn1 img{
    cursor: pointer;
    transition: .9s ease;
}
.pick-ctn1 img:hover{
   transform: scale(1.1);
}

.pick-ctn2 img{
    cursor: pointer;
    transition: .9s ease;
}
.pick-ctn2 img:hover{
   transform: scale(1.1);
}
.ctn2 h4{
font-family: "inter";
font-size: 20px;
font-weight: 700;
color: #FFFFFF;
}
.ctn2 h5{
font-family: "inter";
font-size: 14px;
font-weight: 400;
color: #FFFFFF;
}
.ctn2 p{
font-family: "inter";
font-size: 18px;
font-weight: 700;
color: #FF9F0D;
}
.gap{
    margin-left: 10px;
}
.pick-ctn1 .ctn2{
     padding: 7px 0;
}
.pick-ctn2 .ctn2{
    padding: 7px 0;
}
/* ----------------------------------------------------------------------------------    */
.chef-main{
    background-color: #000;
    height: 100vh;
    padding-top: 20px;
}
.chef-log img{
    margin: auto;
}
.chef-log h1{
    text-align: center;
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    color: white;
}
.chef-log h1 span{
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    color: #FF9F0D;
}
.chef-flex img{
    cursor: pointer;
    transition: .9s ease;
}
.chef-flex img:hover{
   transform: scale(1.1);
}

.chef-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.chef-flex img{
    width: 20vw;
}
.chef{
    font-size: 17px;
    font-family: "inter";
    font-weight: 700;
    background-color: transparent;
    color: white;
    border: 1px solid #FF9F0D;
    border-radius: 30px;
    padding: 10px 40px;
}

.chef:hover{
    font-size: 17px;
    font-family: "inter";
    font-weight: 700;
    background-color: #FF9F0D;
    color: white;
    border: 1px solid #FF9F0D;
    border-radius: 30px;
    padding: 10px 40px;
}
.chef-button{
    margin: 40px 0;
    text-align: center;
}
/* ------------------------------------------------------------------------ */
.testimonial-main{
    background-color: #000;
    height: 105vh;
}
.testimonial-logo{
    padding: 30px 50px;
}
.testimonial-logo h1{
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    color: white;
}
.testimonial-div{
    background-color: #fff;
    width: 55vw;
    height: 65vh;
    margin: auto;
    margin-top: 35px;
}
.man{
    position: relative;
    bottom: 60px;
    left: 41%;
}
.Quotes{
    margin: auto;   
}
.testimonial-div p{
    text-align: center;
    /* width: 50vw; */
    padding: 0px 80px;
}
.star{
    margin: auto;
    margin-top: 5px;
}
.testimonial-div b{
    font-size: 24px;
    font-weight: 700;
    font-family: "Helvetica";
}
.testimonial-div div{
    text-align: center;
    margin-top: 5px;
}
.Food{
    margin: auto;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Helvetica";
}
/* -------------------------------------------------------------------------------- */
.banner-main{
        
    padding-top: 90px;
    height: 100vh;
    background-color: #000;
}
.best-button button{
    font-size: 17px;
    font-family: "inter";
    font-weight: 700;
    background-color: transparent;
    color: white;
    border: 1px solid #FF9F0D;
    border-radius: 30px;
    padding: 10px 40px;
}
.best-button button:hover{
    font-size: 17px;
    font-family: "inter";
    font-weight: 700;
    background-color: #FF9F0D;
    color: white;
    border: 1px solid #FF9F0D;
    border-radius: 30px;
    padding: 10px 40px;
}
.best-button{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.best-button img{
    width: 50px;
    cursor: pointer;
    
}
.best-button p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    
}
.best h2{
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    color: white;
    width: 45vw;
    line-height: 50px;
    padding: 10px 0;
}
.best h2 span{
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    color: #FF9F0D;
}
.best p{
    font-family: "inter";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.best{
margin-left: 50%;
}
/* ------------------------------------------------------------------------- */
.blog-main{
    background-color: #000;
    height: 100vh;
}
.blog-heading img{
    margin: auto;
}
.blog-heading h2{
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    color: white;
    line-height: 50px;
    padding: 10px 0;
    text-align: center;
}
.blog-heading h2 span{
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    color: #FF9F0D;
}
.blog-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.blog-flex img{
    cursor: pointer;
    transition: .9s ease;
}
.blog-flex img:hover{
   box-shadow: 1px 1px 20px gray;
}

.color{
    color: #FF9F0D;
}
.blog-img{
    width: 25vw;
    margin-left: 20px;
}
.gap{
    gap: 150px;
    cursor: pointer;
}
/* ------------------------------------------------------------------------------------ */
.footer-main{
    background-color: #000;
    /* height: 100vh; */
}
.comment-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.comment-ctn h3{
    font-family: "Helvetica";
    font-size: 32px;
    font-weight: 700;
    color: white;
}
.comment-ctn h3 span{
    font-family: "Helvetica";
    font-size: 32px;
    font-weight: 700;
    color: #FF9F0D;
}
.comment-ctn p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.comment Input{
    background-color: #FF9F0D;
    
    border-top-right-radius: 0px; 
      border-bottom-right-radius: 0px;
    border: 1px solid #FF9F0D;
}
.comment Input::placeholder{
    color: #fff;
}
.comment Button{
    background-color: white;
    border-top-left-radius: 0px; 
      border-bottom-left-radius: 0px;
    border: 1px solid white;
    color: #FF9F0D;
}
.time{
    display: flex;
    color: #fff;
    gap: 10px;
}
.links{
    background-color: #FF9F0D;
    padding: 0 10%;
}
